[submodule "tools/env-vars-generator/protobuf"]
	path = tools/env-vars-generator/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "src/go/org/hypertrace/agent/config/cmd/generator/_protobuf"]
	path = src/go/org/hypertrace/agent/config/cmd/generator/_protobuf
	url = https://github.com/protocolbuffers/protobuf.git
