{{ .Header}}

package v1

type opts struct {
	prefix        string
	defaultConfig {{ .MainType}}
}

var defaultOptions = opts{
	prefix:        "HT_",
	defaultConfig: {{ .MainType}}{},
}

type LoadOption func(o *opts)

func WithEnvPrefix(prefix string) LoadOption {
	return func(o *opts) {
		o.prefix = prefix
	}
}

func WithDefaults(defaults {{ .MainType}}) LoadOption {
	return func(o *opts) {
		o.defaultConfig = defaults
	}
}
